<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="CodeHim">
      <title> OTP Verify Mockup Example </title>
      <!-- Style CSS -->
      <link rel="stylesheet" href="../../static/css/verify.css">
      {% comment %} <link rel="stylesheet" href="./css/demo.css"> {% endcomment %}
      <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css'>
      <script ></script>
   </head>
    <body class="container-fluid bg-body-tertiary d-block">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
          <div class="card bg-white mb-5 mt-5 border-0" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
            <div class="card-body p-5 text-center">
              <h4>Verify</h4>
              <p>Your code was sent to you via email</p>

              <form id="otp-form" method="POST">
                {% csrf_token %}
                <div class="otp-field mb-4">
                  <input type="number" name="digit1" maxlength="1" required />
                  <input type="number" name="digit2" maxlength="1" disabled required />
                  <input type="number" name="digit3" maxlength="1" disabled required />
                  <input type="number" name="digit4" maxlength="1" disabled required />
                  <input type="number" name="digit5" maxlength="1" disabled required />
                  <input type="number" name="digit6" maxlength="1" disabled required />
                </div>

                <button class="btn btn-primary mb-3" type="submit">
                  Verify
                </button>
              </form>


              <button class="btn btn-primary mb-3" type="submit">
                Verify
              </button>

              <p class="resend text-muted mb-0">
                Didn't receive code? <a href="">Request again</a>
              </p>
            </div>
          </div>
        </div>
      </div> 
    </body>
    <script src="../../static/js/verify.js"></script>
    <script>
            document.getElementById('otp-form').addEventListener('submit', function(event) {
          event.preventDefault();

          let otp = '';
          document.querySelectorAll('.otp-field input').forEach(input => {
              otp += input.value;
          });

          console.log("OTP Entered: " + otp);
          
          let otpInput = document.createElement('input');
          otpInput.setAttribute('type', 'hidden');
          otpInput.setAttribute('name', 'otp');
          otpInput.setAttribute('value', otp);
          this.appendChild(otpInput);

          // Now submit the form
          this.submit();
      });
    </script>
</html>